.top-intro{
    justify-content: center;
    width: 100%;
    height: 160px;
    margin-top: 50px;
    margin-bottom: 40px;
    .bottom-intro{
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
      .box{
        transition: all 0.3s;
        margin-bottom: 10px;
        &:hover{
          transform: translateY(-5px);
          .circle {
            background-color: red;
          }
        }
        .number-count{
          display: flex;
          justify-content: center;
          font-size: 22px;
          font-weight: bold;
          color: rgb(32, 32, 116);
          }
          
          .class-count{
              display: flex;
              justify-content: center;
              font-size: 12px;
          }
        .circle {
          width: 80px;
          height: 80px;
          background-color: rgb(191, 212, 247);
          border-radius: 50%;
          margin-left: 30px;
          margin-right: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative; /* Để xác định vị trí cho phần tử giả */
          &:hover::before {
            transform: scale(1, 1); /* Hiển thị bóng khi di chuột qua */
            pointer-events: none; /* Không tương tác với phần tử giả */
            z-index: -1; /* Đặt phần tử giả xuống phía sau */
          }
          &::before {
            content: ""; /* Để tạo một phần tử giả */
            width: 80px;
            height: 80px; /* Điều này tạo ra phần bóng ở dưới */
            background: rgb(255, 164, 164); /* Màu bóng và độ trong suốt */
            position: absolute;
            top: 5px; /* Đặt bottom về 0 để bóng bám sát .circle */
            left: 5px; /* Đặt left về 0 để bóng bám sát .circle */
            border-radius: 50%; /* Biến đổi thành hình tròn */
            transform: scale(1, 0); /* Điểm khởi đầu để ẩn bóng */
            transition: transform 0.1s; /* Hiệu ứng khi di chuột qua */
            z-index: -1; /* Đặt phần tử giả xuống phía sau */
          }
        }
    }
    }
    h4{
      text-align: center;
      line-height: 1.5;
      color :rgb(32, 32, 116);
      font-size: 20px;
    }
}

.box:hover .number-count span,
.box:hover .number-count div,
.box:hover .class-count {
    color:rgb(255, 0, 0);
}

.small{
    width: 30px;
    height: 30px;
}

/* responsive */
@media screen and (max-width: 850px) {
  .box {
    max-width: 33%; 
  }
  .top-intro h4{
      font-size: 16px;
  }
  .top-intro{
      height: 340px;
  }

}
  