.slide {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  
.slider {
    position: relative;
    height: 100%;
  }
  
.dots-container {
    display: flex;
    justify-content: center;
  }
  
.dot {
    margin: 0 3px;
    cursor: pointer;
    font-size: 30px;
    color:rgb(189, 189, 189);
  }

.active-dot{
    color:red;
}


