.scrolling-bar {
    position: fixed; /* hoặc position: absolute; tùy thuộc vào thiết kế của bạn */
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 280px;
    background-color: rgb(199, 0, 0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 98;
  }
.scrolling-bar img{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
  