.community {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .grid-community {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    border: 5px;
  }
  
  .box-community {
    width: calc(31% - 10px); /* 30% chiều rộng (2 div trong 1 hàng), có khoảng cách giữa chúng */
    margin-right: 30px;
    margin-bottom: 30px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  h2 {
    text-align: center; 
  }

  .commu-item{
    height: 40%;
    border-radius: 5px;
    background-color: rgb(205, 205, 233);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  .name-commu-item{
    width: 80%;
    font-size: 16px;
    font-weight: bold;
  }
  .commu-member{
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
  }

  .thanhvien {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
  }

  .rate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 17px;
  }

  .join{
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-weight:bold;
    font-size: 18px;
    background-color: red;
  }

  