.feedback-course{
    width: 100%;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.feedback-course h3{
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 51);
    justify-content: center;
    
}

.feedback-cou-img{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fb-img{
    width: calc(25% - 10px); /* 25% chiều rộng (2 div trong 1 hàng), có khoảng cách giữa chúng */
    margin-bottom: 10px; 
    margin-right: 10px;
    background-color: #f0f0f0;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.9s;
    cursor: pointer;
    overflow: hidden;
}
.fb-img img{
    width: 100%;
}


.next-feedback-cou {
    width: 100%;
    height: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-feedback-cou-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-feedback-cou {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(167, 167, 167);
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-feedback-cou:active {
    background-color: red;
  }

  .overview{
    text-align: center;
    align-items: center;
  }
  .bottom-overview{
    display: flex;
  }
  .box-overview{
    transition: all 0.3s;
    width: calc(20% - 10px);
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.box-overview:hover{
    transform: translateY(-5px);
}
.box-overview:hover .number-count span,
.box-overview:hover .number-count div,
.box-overview:hover .class-count {
    color:rgb(255, 0, 0);
}

.small{
    width: 30px;
    height: 30px;
}

.number-count-overview{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}
.number-count-overview span{
    margin-top: 20px;
    margin-bottom: 20px;
}

.class-count-overview{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.circle-overview {
    width: 65px;
    height: 65px;
    background-color: rgb(191, 212, 247);
    border-radius: 50%;
    display: flex;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    position: relative; /* Để xác định vị trí cho phần tử giả */
  }
  
  .circle-overview:hover::before {
    transform: scale(1, 1); /* Hiển thị bóng khi di chuột qua */
    pointer-events: none; /* Không tương tác với phần tử giả */
    z-index: -1; /* Đặt phần tử giả xuống phía sau */
  }
  
  .circle-overview::before {
    content: ""; /* Để tạo một phần tử giả */
    width: 65px;
    height: 65px; /* Điều này tạo ra phần bóng ở dưới */
    background: rgb(255, 164, 164); /* Màu bóng và độ trong suốt */
    position: absolute;
    top: 5px; /* Đặt bottom về 0 để bóng bám sát .circle */
    left: 5px; /* Đặt left về 0 để bóng bám sát .circle */
    border-radius: 50%; /* Biến đổi thành hình tròn */
    transform: scale(1, 0); /* Điểm khởi đầu để ẩn bóng */
    transition: transform 0.1s; /* Hiệu ứng khi di chuột qua */
    z-index: -1; /* Đặt phần tử giả xuống phía sau */
  }
  
  .box-overview:hover .circle-overview {
    background-color: red;
  }