.link-cart{
    height: 40px;
    background-color: #dde6f4;
    justify-items: center;
    align-items: center;
    display: flex;
    .link-ca{
        margin-left: 60px;
    }
    a{
        margin-left: 5px;
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
}
.item-cart{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-bottom: 100px; 
    .item-cart-des{
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        background-color: #eef1f2;
        width: 100%;
        .e-cart-icon {
            width: 170px;
            height: 170px;
            border: 2px solid black; 
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            margin-top: 20px;
            .e-cart-icon1{
                width: 100px;
                height: auto;
            }
        }
        .e-cart{
            height: 40px;
            width: 250px;
            background-color: red;
            color: white;
            border:none;
            border-radius: 30px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .e-cart-item{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.item-in-cart{
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #dde6f4;
    margin-bottom: 60px;
    .all-course-cart{
        margin-top: 40px;
        .course-cart{
            display: flex;
            margin-left: 20px;
            margin-right: 10px;
            height: 170px;
            margin-top: 10px;
            border-top-right-radius:10px ;
            border-bottom-right-radius: 10px;
            background-color: white;
            margin-bottom: 10px;
            .check-box{
                width: 6%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #dde6f4;
                input{
                    width: 20px;
                    height: 20px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                }
            }
            .item-id{
                width: 94%;
                border-top-right-radius:10px ;
                border-bottom-right-radius: 10px;
                display: flex;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                .id-img{
                    width: 35%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .id-des-price{
                    width: 65%;
                    display: flex;
                    .id-des{
                        width: 60%;
                        .id-description{
                            height: 75%;
                            .title-id{
                                font-weight: bold;
                                font-size: 14px;
                                margin-left: 10px;
                                margin-top: 10px;
                            }
                            .short-des{
                                font-size: 12px;
                                margin-left: 10px;
                                margin-top: 10px;
                            }
                        }
                        .date{
                            margin-left: 10px;
                            font-size: 16px;
                        }
                    }
                    .id-price{
                        display: flex;
                        width: 40%;
                        border-top-right-radius:10px ;
                        border-bottom-right-radius: 10px;
                        .real-price{
                            font-size: 18px;
                            float:right;
                            width: 75%;
                            margin-top: 10px;
                            text-align: right;
                            margin-right: 10px;
                        }
                        .remove button{
                            width: 30px;
                            height: 30px;
                            border: none;
                            margin-top: 10px;
                            border-radius: 50%;
                            background-color: azure;
                        }
                    }
                }
            }
        }
    }
    .payment{
        width: 35%;
        margin-right: 20px;
        height: 185px;
        margin-top: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
        .pay-course{
            height: 70%;
            button{
                background-color: rgb(248, 110, 110);
                color: white;
                font-size: 16px;
                font-weight: bold;
                border: none;
                width: 95%;
                height: 40px;
                border-radius: 10px;
                align-items: center;
                margin-left: 10px;
            }
            label{
                margin-left: 10px;
                margin-top: 20px;
                font-size: 16px;
                font-weight: bold;
            }
            .total-payment1{
                display: flex;
                margin-left: 10px;
                margin-top: 10px;
                font-size: 15px;
                div{
                    width: 50%;
                    margin-right: 10px;
                    text-align: right;
                }
                span{
                    width: 50%;
                }
            }
            .total-payment2{
                @extend .total-payment1;
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
        .select-all{
            margin-left: 50%;
            button{
                width: 150px;
                height: 40px;
                border-radius: 10px;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: bold;
                background-color: rgb(248, 110, 110);
                margin-top: 10px; 
            }
        }
    }
}