.all{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 40px;
    display: flex;
    .all-left{
        width: 24%;
        height: 100%;
        .head-cate{
            width: 90%;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            box-shadow:  1px 3px 1px 1px rgba(0, 0, 0, 0.1);;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .box-cate{
            button{
                @extend .head-cate;
                border: none;
                border-radius: 0px;
                justify-content: left;
            }
            .item-cate{
                @extend button;
                font-size: 14px;
                justify-content: left;
            }
        }
    }
    .all-right{
        width: 76%;
        height: 100%;
        .grid-cate{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            .box-course{
                width: calc(33% - 10px); /* 25% chiều rộng (2 div trong 1 hàng), có khoảng cách giữa chúng */
                margin-bottom: 10px; 
                background-color: #f0f0f0;
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.9s;
                cursor: pointer;
                &:hover img{
                    transform: scale(1.1);    
                } 
                img{
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 5px; 
                    border-top-right-radius: 5px;
                    z-index: -1;
                }  
                /* độ nút trong ảnh */
                .box-img{
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: opacity 0.3s;
                        z-index: 1;
                      }
                    &:hover .overlay {
                        opacity: 1;
                        z-index: 1;
                    }
                    .button2 {
                        background-color: orange;
                        color: #fff;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        z-index: 1;
                    }
                    .button1 {
                        background-color: #ffffff00;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        border-color: white;
                        z-index: 1;
                    }
                    .button-container {
                        display: flex;
                        gap: 10px;
                        z-index: 1;
                    }  
                }
                .box-img{
                    overflow: hidden;
                }
                .name-course{
                    font-weight: bold;
                    margin-left: 10px;
                    font-size: 17px;
                }
                .description-course{
                    margin-left: 10px;
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .course-footer{
                    margin: auto 10px 10px 10px;
                    display: flex;
                    .number-member{
                        width: 60%;
                        align-items: center;
                        display: flex;
                    }
                    .course-price{
                        float: right;
                        button{
                            width: 100px;
                            height: 34px;
                            border-radius: 30px;
                            border: none;
                            color: white;
                            background-color: #ff7461;
                            font-weight: bold;
                        }
                    }
                }
            }
            .pagination-container {
                display: flex;
                list-style: none;
                padding: 0;
                width: 100%;
                height: 50px;
                justify-content: flex-end;
                button {
                    margin-right: 5px;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    padding: 5px 10px;
                    background-color: #eee;
                    border: 1px solid #ef5761;
                    border-radius: 3px;
                    &.active{
                        background-color: #ef5761;
                        color: #fff;
                      }
                  }
              }
        }
    }
}

