.footer-panel {
    width: 100%;
    background-color: rgb(219, 227, 239);
  }
  
.footer-1 {
    background-color: rgb(219, 227, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 22, 62);
    margin-left: 3%;
    margin-right: 3%;
    flex-wrap: wrap;
}
.infor-footer{
    display: flex;
    flex-wrap: wrap;
}
.infor{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.infor p{
    font-size: 18px;
    font-weight: bold;
}
.infor-footer a{
    display: block;
    text-align: left;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: column;
  }
  
  .image-container img {
    margin-bottom: 10px; /* Điều chỉnh khoảng cách giữa hai hình ảnh */
  }

.shopee{
    width: 50px;
    height: 70px;
    margin-top: 10px;
}

.connect-ft img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    height: 100px;
    background-color: rgb(66, 72, 153);
}

/* responsive */
@media screen and (max-width:1100px) {
    .infor{
        width: 100%;
        margin-top: 1px;
    }
    .image-container img{
        width: 160px;
        height: auto;
    }
}